@font-face {
    font-family: 'SF Distant Galaxy';
    src: url('SF-Distant-Galaxy.woff2') format('woff2'), 
         url('SF-Distant-Galaxy.woff') format('woff'),
         url('SF-Distant-Galaxy.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(images/spacey.jpg);
}

h1{
    text-align: center;
    border-radius: 10px;
    display: inline block;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'SF Distant Galaxy', 'News Gothic', Arial, sans-serif;
    color: #FFCC00; 
    text-shadow: 4px 4px black;
    font-size: 400%;
    font-weight: bold;
}

p{
    font-family: 'SF Distant Galaxy', 'News Gothic', Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #FFCC00; 
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 1.6;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;                 
    gap: 10px;
}     

.square {
    width: 80px;
    height: 80px;
    overflow: hidden; /* Crop any overflow if necessary */
    display: flex;
    justify-content: center;
    align-items: center;
}

.square img {
    width: 100%; /* Scale the image proportionally */
    height: 100%; /* Scale the image proportionally */
    object-fit: contain; /* Ensure the image fits inside the square */
    display: inline-block; /* Ensures images appear side by side */
}

.head {
    font-size: 130pt;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #FFCC00;
    font-family: 'SF Distant Galaxy', 'News Gothic', Arial, sans-serif;
    font-size: 18px;
}


/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #FFCC00; /* Color when hovered */
}
