@font-face {
    font-family: 'SF Distant Galaxy';
    src: url('SF-Distant-Galaxy.woff2') format('woff2'), 
         url('SF-Distant-Galaxy.woff') format('woff'),
         url('SF-Distant-Galaxy.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(images/spacey.jpg);
}

h1{
    text-align: center;
    border-radius: 10px;
    display: inline block;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'SF Distant Galaxy', 'News Gothic', Arial, sans-serif;
    color: #FFCC00; 
    text-shadow: 4px 4px black;
    font-size: 400%;
    font-weight: bold;
}

p{
    font-family: 'SF Distant Galaxy', 'News Gothic', Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #FFCC00; 
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 1.6;
}

.square {
    width: 100px; /* Set the size of the square */
    height: 100px; /* Ensure it's a square */
    overflow: hidden; /* Crop any overflow if necessary */
    display: flex;
    justify-content: center;
    align-items: center;
}

.square img {
    width: 100%; /* Scale the image proportionally */
    height: 100%; /* Scale the image proportionally */
    object-fit: contain; /* Ensure the image fits inside the square */
}

.head {
    font-size: 100pt;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #FFCC00;
    font-family: 'SF Distant Galaxy', 'News Gothic', Arial, sans-serif;
    font-size: 18px;
}
